* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* 헤더 시계 */
.container {
	width: 240px;
	overflow: hidden;
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

.clock {
	width: 220px;
	margin: 0 auto;
	padding: 10px;
	height: 80px;
	color: dimgrey;
	font-weight: bold;
}

.container #Date {
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;
	text-shadow: 0 0 5px white;
}

.container ul {
	width: 200px;
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	text-align: center;
}

.container ul li {
	display: inline;
	font-size: 19pt;
	text-align: center;
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	text-shadow: 0 0 5px white;
}

.container #point {
	position: relative;
	-moz-animation: mymove 1s ease infinite;
	-webkit-animation: mymove 1s ease infinite;
	padding-left: 5px;
	padding-right: 5px;
}

/* 헤더 */
#header {
	width: 100%;
	height: 130px;
	position: fixed;
	background-color: white;
	border-bottom: 20px solid orange;
	z-index: 90;
}

#header img {
	width: 220px;
	padding-top: 20px;
	padding-left: 20px;
}

#chat {
	position: fixed;
	left: 50%;
	top: 250px;
	width: 300px;
	height: 400px;
	display: none;
	z-index: 100;
	background-color: orange;
	border-radius: 20px;
}
#chat>div {
	width: 90%;
	margin: 0px auto;
	padding-top: 20px;
}
#chat-title {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 16pt;
	border: white 3px solid;
	margin-bottom: 10px;
}
#chat-title>a {
	float: right;
	font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
	margin-right: 5px;
}
#inputMessage {
	width: 78%;
	height: 30px;
}
#send-btn {
	width: 19%;
	height: 30px;
}

/* 메뉴 */
label, #toggle {
	display: none;
	background-color: orange;
	color: white;
	text-align: center;
}

.dropmenu {
	position: fixed;
	top: 130px;
	width: 20%;
	min-width: 200px;
	height: 100%;
	background-color: rgb(244, 244, 244);
	z-index: 100;
	border-right: 2px solid dimgray;
}

.main-menu {
	text-align: center;
	margin: 0px auto;
	width: 170px;
	height: 30px;
	margin-top: 30px;
	list-style: none;
	border-bottom: 1px solid gray;
	font-weight: bold;
	transition: all 0.1s ease-out;
	font-size: 14pt;
	display: block;
	overflow: hidden;
	color: dimgray;
}

.sub-menu {
	height: 30px;
	list-style-type: none;
	text-align: left;
	padding-left: 50px;
	font-size: 11pt;
	padding-top: 10px;
	opacity: 0.8;
	transition: text-shadow 0.25s ease, opacity 0.8s ease;
	color: grey;
}

.main-m1:hover {
	height: 30px;
}

.main-m2:hover {
	height: 100px;
}

.main-m3:hover {
	height: 150px;
}

.main-m4:hover {
	height: 160px;
}

.main-menu A:link {
	text-decoration: none;
	color: dimgray;
	font-weight: bold;
}

.main-menu A:visited {
	text-decoration: none;
	color: dimgray;
	font-weight: bold;
}

.main-menu a:active {
	text-decoration: none;
	color: dimgray;
	font-weight: bold;
}

#profileInfo A:link {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

.sub-menu A:link {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

#profileInfo A:visited {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

.sub-menu A:visited {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

#profileInfo a:active {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

.sub-menu a:active {
	text-decoration: none;
	color: grey;
	font-weight: bold;
}

#profileInfo a:hover {
	text-decoration: none;
	color: grey;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #8888ff;
}

.sub-menu a:hover {
	text-decoration: none;
	color: grey;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px #8888ff;
}

#profile {
	margin: 30px auto;
	text-decoration: none;
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

#profileInfo {
	text-align: center;
	margin-bottom: 30px;
}

#profileInfo>p {
	margin-top: 10px;
}

#profileInfo>p>span {
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: 20px;
}

#profileInfo a {
	font-size: 9pt;
	padding-left: 10px;
	padding-right: 10px;
}

/* 콘텐츠 더미 */
#dummy_top {
	width: 100%;
	height: 130px;
}

#dummy_left {
	width: 20%;
	height: 100%;
	min-width: 200px;
	display: inline-block;
	float: left;
}

#main_content {
	display: inline-block;
	float: left;
	z-index: 70;
	width: 80%;
	padding-bottom: 50px;
}

@media screen and (min-width:481px) and (max-width:1024px) {
	#profile, #dummy_left {
		display: none;
	}
	#profileInfo {
		height: 60px;
		position: fixed;
		top: 100px;
		left: 0px;
		background-color: orangered;
		border: 4px orangered solid;
	}
	#profileInfo>p {
		margin-top: 0px;
		line-height: 30px;
		height: 30px;
	}
	#profileInfo>p>span {
		font-size: 13pt;
	}
	#profileInfo>p:nth-child(2) {
		height: 15px;
		line-height: 15px;
	}
	#profileInfo a, #profileInfo a:active, #profileInfo a:hover,
		#profileInfo a:link, #profileInfo a:visited {
		color: white;
	}
	#main_content {
		width: 100%;
		position: absolute;
		top: 160px;
	}
	#header {
		z-index: 100;
		text-align: center;
		border-bottom: none;
	}
	.dropmenu {
		position: fixed;
		top: 100px;
		margin: 0px auto;
		text-align: center;
		padding: 0px;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background-color: orange;
		border-style: none;
		box-sizing: content-box;
	}
	.dropdown {
		width: 460px;
		margin: 0px auto;
		text-align: center;
		line-height: 60px;
	}
	.main-menu {
		margin: auto;
		width: 115px;
		font-size: 12pt;
		color: white;
		font-weight: bold;
		height: 60px;
		border-style: hidden;
		background-color: orange;
		float: right;
	}
	.sub-menu {
		background-color: rgb(255, 195, 77);
		opacity: 1.0;
		padding-top: 20px;
		padding-left: 10px;
		line-height: 0px;
		display: none;
	}
	.main-m1:hover {
		height: 60px;
	}
	.main-m2:hover {
		height: 140px;
	}
	.main-m3:hover {
		height: 180px;
	}
	.main-m4:hover {
		height: 220px;
	}
	.main-m1:hover, .main-m2:hover, .main-m3:hover, .main-m4:hover {
		background-color: darkorange;
	}
	.main-m2:hover li, .main-m3:hover li, .main-m4:hover li {
		display: block;
		height: 40px;
	}
	.main-menu a:link {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
	.main-menu a:visited {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
	.main-menu a:active {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
}

@media screen and (max-width:480px) {
	#header {
		z-index: 100;
		text-align: center;
		border-bottom: none;
	}
	label {
		display: block;
		position: fixed;
		top: 100px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		z-index: 100;
	}
	.sub-menu {
		padding-left: 0px;
		text-align: center;
	}
	.container, #dummy_left {
		display: none;
	}
	#main_content {
		width: 100%;
		margin-top: 30px;
	}
	#profile {
		display: none;
	}
	.dropmenu {
		display: none;
		background-color: rgb(255, 195, 77)
	}
	#toggle:checked+.dropmenu {
		display: block;
		position: fixed;
		top: 130px;
		width: 100%;
		height: auto;
		padding-bottom: 30px;
	}
	#frame_content {
		width: auto;
		float: none;
		padding-left: 0px;
	}
}